 header {
    border: 9px solid #901;
    padding: 30px 35px 70px 30px;
    background-color: burlywood;
    }
  
   head {
      border:9px solid #901;
      margin-bottom:20px;
      padding:20px;
      opacity: 0.6; 
    }
  
    h1 {
    font-size:300%;
    font-family: Times, sans-serif;
    color: green;
    padding-top: 20px;
    }
    
    
    body {
    background-color: aquamarine;
    }
    
    main {
      overflow:auto;
      font-size: 20px;
    }
    aside {
      float:right;
      width:35%;
      border:2px solid #052;
      padding:20px;
      margin-left:20px;
      box-sizing:border-box;
      font-weight: bold;
    }
    
    footer {
      margin-top:20px;
      padding:20px;
      border:2px solid #000;
    }
    
    #me {
      width: 75px;
      float: right;       
    }

    #Kat {
    width: 350px;
    height: 200px;
    position: center;
    }
    
    #an {
    width: 400px;
    height: 300px;
    position: center;
    }

    ul.a {
      list-style-type: circle;
      font-weight: normal;
      font-size:150%;
    }
    #disorn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    h6 {
      font-size: 28px;
    }
